*{
    margin: 0;
}
ul{
    background-color: rgb(13, 37, 85);
    width: 15%;
    height: 100%;
    float: left;
    
}
ul li{
    list-style: none;
    margin-block: 25%;
    margin-inline: 3%;
    font-size: 17px;
    color: rgb(182, 188, 194);
    font-weight: 500;
    text-align: left;
}

.logOut{
   margin-top: 45%;
   /* margin-top: 300px; */

}
h1{
    font-size: 24px;
    color: whitesmoke;
}
.icons{
    font-size: 20px;
    margin-right: 12px;
    color: rgb(71, 139, 240) ;
}