.elect {
  /* display: flex;
  flex-wrap: wrap;
  gap: 1em; */
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 1em;
}
p {
  text-align: center;
}
/* .Elect-image:hover {
} */

.elect-box {
  border-radius: 8px;
  overflow: hidden;
  background: rgba(240, 240, 240, 0.8);
}
