@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.bdy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
}
.formBox {
  background-color: #fff;
  border-radius: 10px;
  width: 320px;
  text-align: center;
  padding: 2em;
  box-shadow: 1px 2px 4px rgba(60, 112, 207, 0.25);
}
.formBox h1 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.75);
}
.formBox p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  text-align: start;
  width: 100%;
}
.formField {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 4%;
  width: 100%;
  padding: 1em 2em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 0px rgba(60, 112, 207, 0.25);
  border-radius: 10px;
}
hr {
  margin-top: 3%;
}
#submitButton {
  width: 100%;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 7px;
  background-color: rgb(103, 145, 223);
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.submit {
  text-align: center;
  margin-top: 10%;
}
#submitButton:hover {
  background-color: rgb(60, 112, 207);
}

@media (max-width: 430px) {
  .formBox {
    width: 300px;
  }
  #submitButton {
    width: 270px;
  }
}
